*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.form-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background: white;
}
.names{
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
.input{
    margin-bottom: 20px;
}

footer{
    background: rgba(0, 0, 255, 0.789);
    padding: 30px 20px 20px 50px;
    font-size: 18px;
}
span{
    font-size: 24px;
    text-transform: capitalize;
}
footer h4{
    margin-bottom: 40px;
    font-size: 26px;
}
footer ul li{
 margin-bottom: 20px;
}
#submit {
    background: purple;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: fit-content;
    padding: 20px 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all linear 03s;
    -webkit-transition: all linear 03s;
    -moz-transition: all linear 03s;
    -ms-transition: all linear 03s;
    -o-transition: all linear 03s;
    cursor: pointer;
}

#submit:hover{
    background: yellow;
    color: black;
}